<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\styles.css">
    <title>Flight Delay Prediction</title>
</head>

<body>

    <h1>Flight Delay Prediction</h1><br>

        <form action="{{ url_for('predict')}}" method="post">
    
            <h3>Enter the Month:</h3>
            <input type="number" name="month" placeholder="Enter the month" required="required"><br>
            <h3>Enter the Day of month:</h3>
            <input type="number" name="dayofmonth" placeholder="Enter the Day of Month" required="required"><br>
            <h3>Enter the Day of Week:</h3>
            <input type="number" name="dayofweek" placeholder="Enter the Day of Week" required="required"><br>
            <h3>Enter the Origin:</h3>
            <input type="number" name="origin" placeholder="Enter the Origin" required="required"><br>
            <h3>Enter the Destination:</h3>
            <input type="number" name="dest" placeholder="Enter the Destination" required="required"><br>
            <h3>Enter the Depature time:</h3>
            <input type="number" name="deptime" placeholder="Enter the Depature time" required="required"><br><br>
            <br><br>

            <button class="btn" id="sub" type="submit ">Predict</button>
            <br>




        </form>



        <br><br><h1 style="color: white;">{{ prediction_text }}<h1>


</body>

</html>